/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f0f2f5, #d9e7ff);
}

form {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #007BFF;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
}

a {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s ease;
}

a:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
}
